USE [master]
GO
/****** Object:  Database [Anh-Viet]    Script Date: 10-Oct-17 19:04:59 ******/
CREATE DATABASE [Anh-Viet]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Anh-Viet', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Anh-Viet.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Anh-Viet_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Anh-Viet_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Anh-Viet].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Anh-Viet]
GO
USE [Anh-Viet]
GO
/****** Object:  Table [dbo].[TuAnhViet]    Script Date: 10-Oct-17 19:05:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TuAnhViet](
	[TiengAnh] [varchar](50) NOT NULL,
	[TiengViet] [nvarchar](50) NULL,
 CONSTRAINT [PK_TuAnhViet] PRIMARY KEY CLUSTERED 
(
	[TiengAnh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[TuAnhViet] ([TiengAnh], [TiengViet]) VALUES (N'Beautiful', N'Đẹp')
INSERT [dbo].[TuAnhViet] ([TiengAnh], [TiengViet]) VALUES (N'Game', N'Trò Chơi')
INSERT [dbo].[TuAnhViet] ([TiengAnh], [TiengViet]) VALUES (N'Hello', N'Xin chào')
USE [master]
GO
