USE [master]
GO
/****** Object:  Database [Phap-Anh]    Script Date: 10-Oct-17 19:05:32 ******/
CREATE DATABASE [Phap-Anh]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Phap-Anh', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Phap-Anh.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Phap-Anh_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\Phap-Anh_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Phap-Anh].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Phap-Anh]
GO
USE [Phap-Anh]
GO
/****** Object:  Table [dbo].[TuPhapAnh]    Script Date: 10-Oct-17 19:05:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TuPhapAnh](
	[TiengPhap] [varchar](50) NOT NULL,
	[TiengAnh] [varchar](50) NULL,
 CONSTRAINT [PK_TuPhapAnh] PRIMARY KEY CLUSTERED 
(
	[TiengPhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[TuPhapAnh] ([TiengPhap], [TiengAnh]) VALUES (N'Bonjour', N'Hello')
INSERT [dbo].[TuPhapAnh] ([TiengPhap], [TiengAnh]) VALUES (N'Jeu', N'Game')
INSERT [dbo].[TuPhapAnh] ([TiengPhap], [TiengAnh]) VALUES (N'La musique', N'Music')
USE [master]
GO
